@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <h2>TyroSoft Building Controller WebApp </h2>
        <ul>
            <li>Sample pages using ASP.NET MVC 6 for controlling a Building automation via a WebApp</li>
            
        </ul>
    </div>
    
</div>
